

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&family=Source+Serif+Pro:ital@1&display=swap');


/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}
h1, h2{
	font-family: 'Oswald', sans-serif;
}
main{
	display: flex;
	flex-wrap: nowrap;
	flex-flow: column;
}
aside{
	display: flex;
	flex-wrap: nowrap;
	flex-flow: column;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #0063B0;
	color: #C7DBFF;
}

.resume-main {
	background-color: #fff;
}

.resume-aside {
	background-color: #8CBCFA;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

/*Custom Class*/
.language-progress{
	background-color: #0063B0;
}

.language-rate {
	color: #fff;
	font-weight: 600;
}

a {
    color: #000;
    text-decoration: underline;
}
a:hover {
    color: #000;
    text-decoration: underline;
	font-style: oblique;
}

